#copyButton {
    -fx-padding: 4 16 4 16;
    -fx-background-color: #9CC3D5;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-background-radius: 8;
    -fx-border-width: 1;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 11pt;
    -fx-text-fill: #005074;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,80,116,0.04), 6, 0, 0, 2);
}

#copyButton:hover {
    -fx-background-color: derive(#9CC3D5, -12%);
}

#copyButton:armed, #copyButton:pressed {
    -fx-background-color: white;
    -fx-text-fill: #005074;
}

#copyButton:disabled {
    -fx-opacity: 0.6;
    -fx-background-color: #9CC3D5;
}

#helpMessage {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 11pt;
    -fx-text-fill: #005074;
    -fx-opacity: 0.9;
    -fx-padding: 6 8 6 8;
}

#helpMessageContainer {
    -fx-background-color: transparent;
    -fx-background-radius: 8;
    -fx-border-color: transparent;
    -fx-padding: 8;
    -fx-effect: dropshadow(gaussian, rgba(0,80,116,0.10), 8, 0, 0, 2);
}
